body{
  background-color: rgb(25, 73, 112);
}

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
  color: white;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container > input{
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 8px;
}

.input-container > button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 1.5rem;
  background-color: rgb(255, 0, 81);
  color: white;
  cursor: pointer;
  transition: all .4s;
  display: grid;
  place-items: center;
}

.input-container > button:hover{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.7rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.todo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 8px;
  margin-bottom: 10px;
}

.todo > p{
  text-transform: capitalize;
  font-weight: bold;
}
.actions > button{
 background-color: rgb(237, 19, 19);
 color: white;
 border: none;
 padding: 8px 20px;
 border-radius: 5px;
}
.actions > input[type=checkbox]{
  width: 30px;
  height: 20px;
}
.actions{
  display: flex;
  align-items: center;
}